@charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Marck+Script&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Kurale&family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Kurale&family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Joan&family=Kurale&family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Joan&family=Kurale&family=Marcellus+SC&family=Marck+Script&family=Merriweather:wght@300&family=Quintessential&family=Trocchi&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=EB+Garamond&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=EB+Garamond&family=Stoke:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&display=swap');
        * {
            margin: 0px;
            padding: 0px;
        }

        :root {
            --cor0: #F7BE14;
            --cor1: #F80505;
            --cor2: #FA05A8;
            --cor3: #650489;
            --cor4: #19034D;
            --cor5: #F4E69D;
            --cor6: #FF6666;
            --cor7: #1f1f1f;
            --cor8: #fdcc39;
            --corheader: #d13e3e;
            --cormain: #ffd043;
            --corbody: #f3bb23;
            --font-padrao: Arial, Verdana, Helvetica, sans-serif;
            --font-titulo: 'Kurale', serif;
            --font-text: 'Joan', serif;
            --font-text2: 'Marcellus SC', serif;
            --font-draverna: 'Merriweather', serif;
            --font-p: 'EB Garamond', serif;
            --font-titulo:'Stoke', serif;
            --font-sub: 'Cinzel', serif;
        }

        body {
            background: #f3bb23;
            margin: 0px;
            padding: 0px;
        }


        header {
            min-width: 450px;
            max-width: 100%;
            top: 0px;
            width: 100%;
            background-color: #d13e3e;
            padding-top: 0px;
            padding-bottom: 0%;
            margin-bottom: 0px;
            margin: auto;
            box-shadow: 0px 3px 10px black;
        }

        header img {
            padding-bottom: 0%;
        }

        main h1{
            font-family: var(--font-sub);
            color: white;
            font-size: 45px; 
            margin-top: -100px;
            margin-left: 13px;
        }

        .tela-cadastro{
            display: flex;
            flex-direction: column;
            justify-content: center;align-items: center;
            width: 350px;
            height: 400px;
            margin: auto;
            padding: 40px;
            border: none;
            border-radius: 15px;
            background-color: #f5b608;
            box-shadow: 5px 5px 5px black;
        }

        .tela-cadastro input{
            text-decoration: none;
            background-color: #fccb47;
            width: 300px;
            height: 30px;
            border: none;
            border-radius: 10px;
        }

        .tela-cadastro input:hover{
            text-decoration: none;
            background-color: #fccb47;
            width: 300px;
            height: 30px;
            border: none;
            border-radius: 10px;
        }

        .tela-cadastro input:focus{
            text-decoration: none;
            background-color: #fccb47;
            width: 300px;
            height: 30px;
            border: 1px solid #f8cd56;
            border-radius: 10px;
        }

        input::placeholder{
            text-align: center;
        }

        #btn-enviar{
            text-decoration: none;
            width: 60px;
            height: 25px;
            background-color: #c08e06;
            border: none;
            border-radius: 10px;
            box-shadow: 2px 2px 5px black;
        }

        #btn-enviar:hover{
            text-decoration: none;
            width: 60px;
            height: 25px;
            background-color: #c08e06;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 5px #f8cd56;
        }

        #btn-reset{
            text-decoration: none;
            width: 60px;
            height: 25px;
            background-color: #c08e06;
            border: none;
            border-radius: 10px;
            box-shadow: 2px 2px 5px black;
            margin-right: 40px;
        }

        #btn-reset:hover{
            text-decoration: none;
            width: 60px;
            height: 25px;
            background-color: #c08e06;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 5px #f8cd56;
        }


        footer {
            background-color: var(--corheader);
            min-width: 320px;
            max-width: 100%; 
            padding: 20px 20px;
            position: absolute;
            width: 100%;
        }

        p {
            font-family: var(--font-text);
            font-style: bold;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 25px 25px;
            margin: auto;
        }

        .nav-rod {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 6rem;
        }

        .tel {
            display: flex;
            align-items: center;
        }

        .local {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .nav-icons {
            display: flex;
            justify-content: center;
        }

        .nav-icon {
            margin: 18px 0px;
            text-decoration: none;
        }

        .nav-list {
            list-style: none;
            list-style-image: none;

        }

        footer ul {
            list-style-image: none;
            list-style-type: none;
        }

        footer h1 {
            font-family: var(--font-sub);
            color: white;
            font-size: 18px;
            margin-left: 13px;
        }

        .nav-icon:hover {
            opacity: 60%;
            transition: 1s;
            transform: rotateX(-40deg);
            transform: rotateZ(-25deg);
        }