@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Kurale&family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Joan&family=Kurale&family=Marcellus+SC&family=Marck+Script&family=Quintessential&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Joan&family=Kurale&family=Marcellus+SC&family=Marck+Script&family=Merriweather:wght@300&family=Quintessential&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=EB+Garamond&family=Stoke:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #F7BE14;
    --cor1: #F80505;
    --cor2: #FA05A8;
    --cor3: #650489;
    --cor4: #19034D;
    --cor5: #F4E69D;
    --cor6: #FF6666;
    --cor7: #1f1f1f;
    --cor8: #fdcc39;
    --corheader: #d13e3e;
    --cormain: #ffd043;
    --corbody: #f3bb23;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-titulo: 'Kurale', serif;
    --font-text: 'Joan', serif;
    --font-text2: 'Marcellus SC', serif;
    --font-draverna: 'Merriweather', serif;
    --font-p: 'EB Garamond', serif;
    --font-titulo: 'Stoke', serif;
    --font-sub: 'Cinzel', serif;
}

body {
    background: #eb6ea7;
    margin: 0px;
    padding: 0px;

}


header {
    min-width: 450px;
    max-width: 100%;
    top: 0px;
    width: 100%;
    background-color: #ffe45b;
    padding-top: 0px;
    padding-bottom: 0%;
    margin-bottom: 0px;
    margin: auto;
    box-shadow: 0px 3px 10px black;
}

header img {
    padding-bottom: 0%;
}

li a {
    font-family: var(--font-text2);
}

.nav-list a:hover {
    display: block;
    background-color: #ad3131;
    padding: 0.5rem;
    padding: 15px;
    border-radius: 3px;
    transition: 0.5s;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;

}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav-item {
    margin: 0px 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: aliceblue;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        margin-top: 25px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
}

/*MAIN*/




main {

    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.name h1 {
    font-size: 35px;
    margin: 15px 20px;
    color: white;
    text-align: center;
    align-items: center;
    font-family: var(--font-text2);
}

.titulo h2 {
    font-size: 25px;
    margin: 50px;
    color: white;
    text-align: center;
    align-items: center;
    font-family: var(--font-text2);

}

.subtitulo h2 {
    color: white;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: -3%;
    margin-left: 70px;
    margin-bottom: 100px;

}

.container .card .image {

    width: 350px;
    height: 300px;
    position: relative;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 5px 5px 50px, #af2668;

}

.content image .img {
    width: auto;
}


.container .card {

    width: 350px;
    height: 300px;
    margin: 20px;
    box-shadow: 15px 15px 25px #af2668;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.container .card .text {
    margin-bottom: 20px;
    text-align: center;
    transform: translateY(50px);
    opacity: 50;
    transition: 0.3s;
}

.container .card .text:hover {
    transform: translateY(-60%);
    opacity: 1;
}


h3 {
    color: white;
    margin-bottom: 10px;
    font-size: 24px;
}

main p {
    margin-top: 5px;
    text-decoration: none;
    font-weight: 100;
    color: white;
    font-family: var(--font-p);
    font-size: 18px;

}

main a:hover {
    color: #eba000;

    text-transform: initial;

}

main img {
    border-radius: 5px;
    opacity: 97%;

}

.subtitulo {
    color: white;
    position: relative;
    top: -100px;
    text-align: center;
    background-color: #eb6ea7;
    padding: 10px 25px 30px 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/*Footer*/
footer {
    background-color: #435cb7;
    min-width: 320px;
    max-width: 100%;
    padding: 20px 20px;
}

footer p {
    font-family: var(--font-p);
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: start;
    padding: 25px 25px;
    margin: auto;

}

.nav-rod {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.tel {
    display: flex;
    align-items: center;
}

.local {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.nav-icons {
    display: flex;
    justify-content: center;
}

.nav-icon {
    margin: 18px 0px;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    list-style-image: none;

}

footer ul {
    list-style-image: none;
    list-style-type: none;
}

footer h1 {
    font-family: var(--font-sub);
    color: white;
    font-size: 18px;
    margin-left: 13px;
}

.nav-icon:hover {
    opacity: 60%;
    transition: 1s;
    transform: rotateX(-40deg);
    transform: rotateZ(-25deg);
}